streamlit>=1.35.0
geopandas
pandas
numpy
matplotlib
shapely
folium
streamlit-folium
branca
plotly
opencv-python-headless
pillow
scipy
requests
xarray
netCDF4
rasterio
scikit-image
ultralytics
mercadopago
markdown-it-py
mdurl
earthaccess 
xarray 
rioxarray
pyhdf
