streamlit==1.28.0
geopandas
pandas
numpy
matplotlib
shapely
folium
streamlit-folium
branca
plotly
opencv-python-headless
pillow
scipy
requests
xarray
netCDF4
rasterio
scikit-image
ultralytics
mercadopago
usgsxplore
rich==13.7.1
