# requirements.txt
streamlit==1.28.0
geopandas==0.13.0
pandas==2.0.3
numpy==1.24.0
matplotlib==3.7.0
shapely==2.0.1
pyproj==3.6.0
contextily==1.3.0
geojson==3.0.0
requests==2.31.0
Pillow==10.0.0
python-docx==0.8.11
openpyxl==3.1.2
xlrd==2.0.1
opencv-python-headless==4.8.0.74
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.0
fastkml==0.12
pykml==0.2.0
lxml==4.9.3
streamlit_folium
folium
branca 
plotly 
xarray 
netCDF4 
rasterio 
ultralytics
netCDF4
